_private/
node_modules/
npm-debug.log*
/tests
.env
.npmignore
.prettierrc
.prettierignore
.prettierignore
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
/src
/tests
/tsconfig.json
/tsconfig-build.json
/tsconfig-build.tsbuildinfo
/tsconfig.buildinfo
/tsconfig.buildinfo
release.js